$darkRed: #3E1913;
$orange: #F0573E;
$lightYellow: #EEF0C2;
$lighterYellow: #F9F9E5;
$limeGreen: #B5BF34;
$lightBlue: #20A28E;
$darkBlue: #026475;
$darkerBlue: #01323B;
$darkGrey: #2E313D;

body {
  background-color: $lighterYellow;
  margin: 0;
  color: $darkGrey;
  font-family: sans-serif;
  a {
    text-decoration: none;
    color: $darkGrey;

  }
}

.container {
  // max-width: 1020px;
  margin: 0 auto;
}

nav {

  // background-color: $lightYellow;

  h2 {
    float: left;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;  
    float: right;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 20px; 
    // height: 100px;
  }

  li:hover {
    // background-color: $darkRed;
  }

  ul {
    padding-right: 30px;
  }

  #navWhiteSpace {
    background-color: $lightYellow;
    height: 114px;
  }

  #navGreenSpace {
    background-color: $limeGreen;
    width: 100%;
    height: 37px;
  }

  #navSmallWhiteSpace {
    background-color: $lightYellow;
    height: 10px;
  }

  overflow: auto;
  // padding-top: 15px;
  box-sizing: border-box;
  // height: 100px;
}

#navContainer {
  background-color: $lightBlue;
}

#navMenu {
  float: right;
  width: 100%;
  background-color: $lightBlue;

}

#featureImage {
  background-color: $limeGreen;
  height: 500px;
}

#viewContainer {
  width: 92%;
  margin: 0, auto;
}

#gameDiv {
  margin: 0 10%;
}

.loginButton {
  margin: 0px auto;
  padding: 20px;
  background-color: $limeGreen;
  max-width: 115px;
  text-align: center;
}

.small-container {
  max-width: 200px;
  margin: 20px auto;
}

label {
  display: block;
  margin: 20px auto;

}

.gameCard {
  width: 30%;
  height: 400px;
  background-color: $lightYellow;
  padding: 2%;
  margin: 1.66%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  float: left;
  align-content: center;
  border-radius: 2px;
  box-shadow: 0px 0px 22px -4px rgba(46,49,61,0.33);
}

#headline  {
  // height: 100px;
  // background-color: $orange;
  text-align: right;
  padding-right: 30px;
  // padding-top: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  h1 {
    margin: 0;
    padding-bottom: 25px;
    padding-top: 20px;
  }
  input {
    background-color: $lighterYellow;
    color: $darkGrey;
    border: none;
    // width: 200px;
    height: 30px;
    // background-color: teal;
  }
  input:focus {
    outline: none;
    background-color: $lighterYellow;
    // border: 0px, solid, #fff;
  }
}

#searchBar {
  text-align: right;
  background-color: $lightBlue;
}

.gameImg {
  width: 100%;
  display: block;
  align-content: center;
  img{
    max-height: 150px;
    margin: 0, auto;
    display: block;
    // width: 100%;
    // height: 100%;
  }
}

#gameForm {
  margin: auto;
  padding-top: 10px;
  // margin-left: 50px;
  width: 400px;
  background-color: $lightBlue;
  label {
    padding: 10px;
    padding-bottom: 2px;

  }
}

#submitButton {
  height: 30px;
  width: 100px;
  text-align: center;
  margin: auto;
  background-color: $orange;
}

#logo {
  background-image: url('../images/logo.png');
  height: 410px;
  width: 478px;
  float: left;
  z-index: 1;
  position: absolute;
}

.gameCardContent {
  h4 {
    // margin: 10px, 15px, 5px, 15px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  p {
    height: 90px;
  }
}

.gameButtons {
  float: right;
  padding-bottom: 5px;
  padding-right: 5px;
  div {
    color: $orange;
  }
  a {
    color: $limeGreen;
  }
}

.submitButton {
  height: 30px;
  width: 100px;
  text-align: center;
  margin: auto;
  background-color: $orange;
  padding: 15px;
  padding-top: 10px;
  border-radius: 3px;
}