<div class="container" ng-controller="NavCtrl">
  <div id="logo">
    
  </div>
  <div id="navMenu">
    <div id="navWhiteSpace"></div>
    <div id="navGreenSpace"></div>
    <div id="navSmallWhiteSpace"></div>
    <div id="navContainer">
      
      <ul id="navList">
        <li ng-click="login()">User</li>
        <li ng-click="contact()">Contact</li>
        <li ng-click="home()">About</li>  
        <li ng-click="game()">Games</li>
        <li ng-click="home()">Home</li>

      </ul>
    </div>
  </div>
</div>